<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>sk</string>
	<key>CFBundleDisplayName</key>
	<string>INVOY</string>
	<key>CFBundleExecutable</key>
	<string>INVOY</string>
	<key>CFBundleIconFile</key>
	<string>INVOYIconYellow</string>
	<key>CFBundleIdentifier</key>
	<string>sk.faktury.desktop</string>
	<key>CFBundleName</key>
	<string>INVOY</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.38</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>INVOY Login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sk.faktury.desktop</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>43</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
